body{
    overflow-x: hidden;
}

main{
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    width: 280px;
    position: fixed;
    z-index: 999999;
}

.main-content{
    padding: 30px 0;
    background-color: #ffffff;
    min-height: calc(100vh - 120px);
    padding-right: 15px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-left: 21%;
    width: 100%;
    width: fit-content;
    width: -webkit-fill-available;
}

.main-body{
    display: flex;
    justify-content: space-between;
}

.latest-update-card{
    margin-top: 2em;
}